@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i');
// Body
$body-bg: #014454;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$dark-blue: #045F74;
$nav-blue: #015A6F;
$button-blue: linear-gradient(270deg, #0096BA 22.61%, rgba(0, 150, 186, 0) 77.39%), #00CFFF;
$wit: #FFFFFF;
$orange: #FF7A00;
$font: 'Ubuntu', sans-serif;
