.edit {
	
	&__content {
		display: flex;
		flex-direction: column
	}

	&__text {
		width: 51%;
		border-radius: 8px;

	}

	&__label {
		color: $orange;
		font-size: 20px;
		display: flex;
		justify-content: space-between;
		margin-bottom: 20px;
	}
}

.times {
	height: 30px;
	float: right;
}

.time {
	border: 0;
	background: url('../../img/clock-regular.svg');
	color: transparent;
	background-repeat: no-repeat;
	width: 30px;
	background-position: center;
}
